<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Natural Date and Time is a natural language date and time zone engine which allows you to view time and date information for any major city in the world by querying in natural english text." />
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.16/angular.min.js"></script>
    @Styles.Render("~/bundles/NaturalDateTime/css")
    @RenderSection("css", required: false)
</head>
<body>
    <div class="navbar navbar-default navbar-static-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/">Home</a></li>
                    <li><a href="/examples">Examples</a></li>
                    <li><a href="/about">About</a></li>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li><a href="/?debug=true">Debug Mode</a></li>
                        <li><a href="/errorLogs">Error Logs</a></li>
                        <li><a href="/admin/questionlogs">Question Logs</a></li>
                        <li><a href="/admin/logout">Logout</a></li>
                    }
                </ul>
            </div>
        </div>
    </div>
    <div class="container">
        @RenderBody()
    </div>

    <div class="navbar navbar-default navbar-fixed-bottom">
        <div class="container">
            <div class="navbar-text text-center">
                Copyright &copy; @DateTime.Now.Year Darko Sancanin
                <<a href="http://www.darkosancanin.com">darkosancanin.com</a>>
            </div>
        </div>
    </div>

    @RenderSection("scripts", required: false)

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-64414116-1', 'auto');
      ga('send', 'pageview');

    </script>
</body>
</html>
